#pic1 {
display: none;
}
#pic3 {
  display: none;
}
#pic5 {
  display: none;
}
#pic7 {
  display: none;
}
#pic9 {
  display: none;
}
#pic11 {
  display: none;
}
#pic13 {
  display: none;
}
#pic15 {
  display: none;
}
